@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    color: rgb(236, 228, 228);
}

.wrapper {
    height: 100vh;
    display: flex;
    background: #222222;
    align-items: center;
    justify-content: center;
}

.calculator {
    height: 720px;
    width: 480px;
    background: #1f2123;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result-part {
    height: 20%;
    display: grid;
    grid-template-rows: auto;
}

.input-value {
    font-size: 19px;
    color: #919191;
    text-align: right;
    margin: 20px 20px;
    padding-top: 20px;
}

.display-value {
    margin: 0 20px;
    font-size: 32px;
    text-align: right;
    padding-bottom: 20px;
}

.calculation-part {
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.number,
.operator {
    cursor: pointer;
}

.number:focus,
.empty:focus,
.operator:focus {
    outline: none;
}

.operator,
.number,
.empty {
    width: 92px;
    height: 92px;
    margin: 10px;
    float: left;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    border: none;
    background: none;
}

#divide {
    background: #20b2aa;
}

#multiply {
    background: #f08080;
}

#subtract {
    background: #667d95;
}

#add {
    background: #e75480;
}

#equals {
    background: #b19cd9;
}

.number:hover {
    background-color: grey;
}
